@font-face {
  font-family: "iconfont"; /* Project id 4782341 */
  src: url('//at.alicdn.com/t/c/font_4782341_j6v8ql57g8.woff2?t=1734253110393') format('woff2'),
       url('//at.alicdn.com/t/c/font_4782341_j6v8ql57g8.woff?t=1734253110393') format('woff'),
       url('//at.alicdn.com/t/c/font_4782341_j6v8ql57g8.ttf?t=1734253110393') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e612";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-xin-xinfeng:before {
  content: "\e686";
}

.icon-tongji:before {
  content: "\ec62";
}
